.calc{
    width:400px;
    height:500px;
    background: steelblue;
    margin-top: 40px;
    margin-left: 400px;
    border-radius: 8px;
}
#screen{
    margin-top: 30px;
    margin-left: 15px;
    margin-right: 10px;
    width:90%;
    height: 50px;
    border-radius: 8px;
    background: ghostwhite;
}
.one{
    margin-top: 30px;
    margin-left: 38px;
    width:50px;
    height: 40px;
    border-radius: 5px;
    background: peachpuff;
    font-size:large;
}
.cleardisplay{
    margin-left: 314px;
    margin-top: 38px;
    width:50px;
    height: 40px;
    border-radius: 5px;
    background: peachpuff;
    font-size:medium;
}  
